.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ff{
  color: red;
}
.cc{
  color: skyblue;
}
.ff1{
  color: green;
}
.ff2{
  color: orange;
}
.cc1{
  color: blue;
}
.cc2{
  color: blueviolet;
}
.image{
  position: relative;
  right: 562px;
  top: 20px;
  bottom: 20px;
}
.div1{
  position: relative;
  left: 391px;
  top: -7px;
  font-size: 25px;
  display: block;
  margin-block-start: -11em;
  margin-block-end: 1em;
  margin-inline-start: -6px;
  margin-inline-end: -4px;
}
.image2{
  position: relative;
  right: 562px;
  top: 3px;
  bottom: 20px;
  width: 381px;
}
.div2{
  position: relative;
  left: 412px;
  top: -314px;
  font-size: 22px;
  display: block;
  margin-block-start: 2em;
  margin-block-end: -12em;
  margin-inline-start: -25px;
  margin-inline-end: 5px;
  /* width:50px;   */
}
.div3{
  position: relative;
  left: 412px;
  top: -32px;
  font-size: 22px;
  display: block;
  margin-block-start: 3em;
  margin-block-end: -2em;
  margin-inline-start: -406px;
  margin-inline-end: 5px;

}
.div4{
  position: relative;
  left: 412px;
  top: -242px;
  font-size: 22px;
  display: block;
  margin-block-start: 2em;
  margin-block-end: -12em;
  margin-inline-start: -25px;
  margin-inline-end: 5px;
  /* width:50px;   */
}


